.home-blog-area.section-padding2 {
    padding-bottom: 35px;
}
.our-services.servic-padding{
    padding-top: 40px;
}
.logo{
    max-width:10rem;
}
/* Estilos de about */
.preloader .preloader-img {
    padding-top: 0px;
}
.preloader .preloader-img img {
    max-width: 100px;
}

.favourite-place .single-place .place-img img {
    max-height: 253px;
}
.title-rework{
    text-align: center;
    align-items: center;
}

.footer-social-footer{
    justify-content: center;
    display: flex;
    gap: 10px;
    filter: invert(1);
}
